body{
    background-image: url(./img/fundo.jpg);
    background-size: cover;
    background-position-y: -200px;
}
.divform{
    border-radius: 15px;
    font-family: arial;
    height: 550px;
    width: 350px;
    text-align: center;
    background-color: white;
    position: absolute;
    left: 500px;
    top: 50px
}
.form input{  
    padding: 10px;
    height: 20px;
    border: none;
    background: transparent;
    width: 85%;
    display: inline;
    font-family: italic;
    border-bottom: 3px solid black;
    font-size: 20px;
}
.p1{
  position:absolute;
  top: 60px;
  left: 20px;
}
::placeholder{
    margin: 30px;
    font-size: 17px;
}
.p2{
  position:absolute;
  top: 135px;
  left: 20px;
}
a{
    color: black;
    font-size: 14px;
    position: absolute;
    top: 240px;
    left: 200px
}
.botao{
    background-color: rgb(10, 67, 141);
    position: absolute;
    top: 300px;
    left: 10px;
    width: 330px;
    color: white;
    font-size: 20px;
    padding: 7px;
    border-radius: 30px;
    cursor: pointer;
}
h6{
    position: absolute;
    top: 350px;
    left: 80px;
}
img{
    width: 40px;
    position: absolute;
    top: 400px;
    cursor: pointer;
}
.img2{
    width: 30px;
    position: absolute;
    top: 407px;
    left: 130px;
    cursor: pointer;
}
.a2{
   margin-top: 265px;
   margin-left: -65px;
}
h5{
    position: absolute;
    top: 450px;
    left: 100px;
}
